<?xml version="1.0"?>
<launch>

    <rosparam file="$(find ur_cable_manipulation)/config/joint_state_controller.yaml" command="load"/>
    <node name="joint_state_ctrl_spwn"  pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn joint_state_controller " />

    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="" />
    </node>

</launch>